*.swp
.vs/
.idea/
build/
bin/
lib/
DerivedData/
*.mode1v3
*.mode2v3
*.perspectivev4
*.moved-aside
*.xcuserdatad
.DS_Store
/_Data_/717006.rom
/_Build_/Jam/build.LINUX/
/_Build_/CMake/
!/_Build/CMake/build.sh
/K/_Build_/Jam/build.LINUX
/_Build_/Makefiles
/cmake_build_*/
*.iml
/CMakeSettings.json
/app/Version_CMake.h
/app/FLTK/TFLAppUI.cpp
/app/FLTK/TFLAppUI.h
/app/FLTK/TFLSettingsUI.cpp
/app/FLTK/TFLSettingsUI.h
/app/FLTK/TFLRexImage.h
/app/FLTK/TFLRexImage.cpp
/app/SDL/TSDLRexImage.h
/Toolkit/TFLToolkitUI.cpp
/Toolkit/TFLToolkitUI.h
/Toolkit/TFLSampleScripts.cpp
/Toolkit/TFLSampleScripts.h
/Drivers/packages/MemDumper
/Drivers/EinsteinPortEnabler/portenabler.ntkc
/android-project/app/libs/SDL3*
fltk/
*.gch
CMakeCache.txt
CMakeFiles/cmake.check_cache
newt64/
