*.swp
.vs/
.idea/
build/
bin/
lib/
DerivedData/
*.mode1v3
*.mode2v3
*.perspectivev4
*.moved-aside
*.xcuserdatad
.DS_Store
/_Build_/Jam/build.LINUX/
/_Build_/CMake/
!/_Build/CMake/build.sh
/K/_Build_/Jam/build.LINUX
/_Build_/AndroidStudio/app/.externalNativeBuild
/_Build_/AndroidStudio/build
/_Build_/AndroidStudio/.gradle
/_Build_/AndroidStudio/.idea
/_Build_/AndroidStudio/local.properties
/_Build_/AndroidStudioNative/.gradle
/_Build_/AndroidStudioNative/.idea
/_Build_/AndroidStudioNative/gradle/wrapper/gradle-wrapper.jar
/_Build_/AndroidStudioNative/gradle/wrapper/gradle-wrapper.properties
/_Build_/AndroidStudioNative/local.properties
/_Build_/AndroidStudioNative/einstein/.cxx
/_Build_/Makefiles
/_Build_/Xcode
/cmake_build_*/
*.iml
/CMakeSettings.json
/app/Version.h
/app/TFLAppUI.cpp
/app/TFLAppUI.h
/app/TFLSettingsUI.cpp
/app/TFLSettingsUI.h
/Toolkit/TFLToolkitUI.cpp
/Toolkit/TFLToolkitUI.h
/Drivers/packages/MemDumper
