name: CI macOS

# Controls when the action will run.
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    # The type of runner that the job will run on
    runs-on: macos-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    # Runs a single command using the runners shell
    - name: Build
      run: xcodebuild build -project _Build_/Xcode/Einstein.xcodeproj -scheme Einstein

    # Runs a set of commands using the runners shell
    - name: Test
      run: xcodebuild test -project _Build_/Xcode/Einstein.xcodeproj -scheme Einstein

    - name: Archive
      run: |
        mkdir artifacts
        xcodebuild -project _Build_/Xcode/Einstein.xcodeproj -scheme Einstein -archivePath artifacts/Einstein.xcarchive archive

    - uses: actions/upload-artifact@v2
      with:
        name: Einstein.app
        path: artifacts/Einstein.xcarchive/Products/Applications/Einstein.app
